<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="reset.css">
        <link rel="stylesheet" type="text/css" href="principal.css">
        <link rel="shortcut icon" type="image/png" href="/imagens/favicon-64x64.png">
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <title>Meet</title>
    </head>

    <body>
        <div id="container-header"><img src="/imagens/tucanoHeader.png">
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="popular.html">My groups</a></li>
                    <li><a href="marketplace.html">Marketplace</a></li>
                    <li><a href="perfil.html">Profile</a></li>
                </ul>
            </nav>
        </div>
        <div id="page-info">
            <div id="creation-group">
                <span id="txt-creation">New group</span>
            </div>
            <div id="creation-group-button">
                <button type="button" id="plus-button">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </button>
            </div>
        </div>

        <div id="renderizado">
            <% for (let i = 0; i < total; i++) { %>
                <div id="card-render">
                    <div class="card-img">
                        <img src="/imagens/grupo.png" class="group-img">
                    </div>
                    <div class="card-span">      
                        <span><%= nome[i] %></span>
                    </div>
                    <div class="card-button">
                        <button type="submit" class="join-button">Join!</button>
                    </div>
                </div>
            <% } %>
        </div>

        <div class="popup">
            <div class="close-button">&times;</div>
            <form action="/criar" method="post" class="form">
                <h2>Create group</h2>
                <div class="form-element">
                    <input type="text" id="group-name" placeholder=" " name="nomeGrupo" required>
                    <label for="group-name">Name</label>
                </div>
                <div class="form-button">
                    <button type="submit">Create!</button>
                </div>
            </form>
        </div>

        <script>
            document.querySelector("#plus-button").addEventListener("click", function(){
                document.querySelector(".popup").classList.add("active");
            })
            document.querySelector(".popup .close-button").addEventListener("click", function(){
                document.querySelector(".popup").classList.remove("active");
            })
            if (document.getElementById("group-name") !== valueMissing){
                document.querySelector(".popup .form-button").addEventListener("click", function(){
                document.querySelector(".popup").classList.remove("active");
            })
            }
        </script>
    </body>
</html>